.resulttable{
        border: 1px solid black;
        display: inline-block;
        top: 30rem;
        margin-left: 4rem;
        left: 40rem;
        text-align: center;
      }
   

    .searchchart{
        display: inline-block;
        padding: 2rem;
        top: 4rem;
        vertical-align: middle;
        padding-left: 2rem;
        
      }
    

    .DsrChart {
        border: 1px solid rgb(0, 0, 0);
        padding: 2rem;
        vertical-align: middle;
        padding-left: 2rem;
        
      }
    


th.Name {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align:center;
}

th.Platform {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align:center;
}

th.Year {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align:center;
}

th.Publisher {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align:center;
    right: inherit;
}

.table-header { 
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

