.resulttable{
        border: 1px solid black;
        display: inline-block;
        top: 30rem;
        position: static;
        margin-right: 5rem; 
        vertical-align: middle;
        left: 40rem;
        text-align: center;
      }
   

    .searchchart{
        display: inline-block;
        padding: 2rem;
        position: static;
        top: 1rem;
        vertical-align: middle;
        padding-left: 2rem;
        
      } 

      table.resulttable
      {
          position: static;
          display: inline-block;
          margin-left: 15rem;
      }
    

    .DsrChart {
        border: 1px solid rgb(0, 0, 0);
        padding: 2rem;
        position: static;
        vertical-align: middle;
        margin-left: 5rem;
        margin-right: 5rem;
        padding-left: 2rem;
        
      } */
    
 tbody {
    text-align: center;
}

.table-header { 
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

